body {
	margin: 0;
	background-color: #000;
	color: rgb(255, 255, 255);
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

.bkg {
  background-color:rgb(207, 9, 9);
  height: 120px;
  width: 120px;
  position: relative;

  z-index: -2;
}